name: Release tarball

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Create tarball
        run: tar -czf release.tar.gz --exclude='README.md' .
      
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.sha }}
          name: ${{ github.sha }}
          files: release.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
